# Data Structures

## Tuple

In [1]:
# Create a tuple
tup = 4, 5, 6

(4, 5, 6)

In [3]:
type(tup)

tuple

In [7]:
nested_tup = (4, 5, 6), (7, 9)

In [8]:
nested_tup

((4, 5, 6), (7, 9))

In [9]:
# convert list to tuple
tup_converted = tuple([1,4,2,4,5])

In [10]:
tup_converted

(1, 4, 2, 4, 5)

In [11]:
# convert string to tuple behaviour
tup_string = tuple("sharath")

In [12]:
tup_string

('s', 'h', 'a', 'r', 'a', 't', 'h')

In [17]:
tup_string[3] + tup_string[0]

'rs'

In [18]:
tup = tuple(['foo', [1,4], False])

In [21]:
tup

('foo', [1, 4], False)

In [22]:
# swap without extra variable
a = 4
b = 8

a, b = b, a

In [24]:
a, b

(8, 4)

In [25]:
(1,'sharath', False) + ('new', True)

(1, 'sharath', False, 'new', True)

In [27]:
values = 1, 2, 3, 4, 5, 6, 8

In [29]:
a, v, *_ = values

In [36]:
len(values)

7

## List

In [37]:
# Lists are mutable unlike tuples and can be modified in place

hetro_list = ['20', 30, True]

In [44]:
for x in hetro_list:
    print(isinstance(x, float))

False
False
False

In [45]:
gen = range(10)

In [48]:
x = list(gen)

In [49]:
x.append("fpp")

In [50]:
x

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'fpp']

In [51]:
x.insert(1, 'new')

In [52]:
x

[0, 'new', 1, 2, 3, 4, 5, 6, 7, 8, 9, 'fpp']

In [53]:
x.pop(2)

1

In [54]:
x

[0, 'new', 2, 3, 4, 5, 6, 7, 8, 9, 'fpp']

In [57]:
# adding list with + operator will be costly, Hence use list.extend(new_list) `extend` 
x = ['abc', 1, 5.5]
x.extend(['dfe', 'xyz', 34, 10])
x

['abc', 1, 5.5, 'dfe', 'xyz', 34, 10]

In [62]:
z = ['1', 'sharath', 34, 1.4]*200000
y = ['new', 34.5, "jellp"]
%timeit z + y

2.11 ms ± 118 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [61]:
z = ['1', 'sharath', 34, 1.4]*200000
y = ['new', 34.5, "jellp"]
%timeit z.extend(y)

101 ns ± 3.69 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)

## Sorting

In [63]:
a = [7, 2,5, 1, 3]